body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.react-financial-charts-ew-resize-cursor {
  cursor: pointer;
}

.react-no-select {
  user-select: none;
}

.period_button {
  color: white;
  width: 120px;
  padding: 15px;
}

.period_button:hover {
  cursor: pointer;
  background-color: gray;
}

.active {
  cursor: pointer;
  background-color: lightslategray;
}
